/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://obazedesigns.com
-----------------------------------------------------------------------------*/
/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =SASS Variables
-----------------------------------------------------------------------------*/
/* line 26, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
section#home {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 36, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div#home-portfolio h2 {
  text-align: center;
  margin-bottom: 2%;
  color: #001c58;
  font-size: 3.5em;
  font-weight: 300;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 75, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
a:link, a:visited, a:hover, a:focus, a:active html {
  font-size: 10px;
  font-family: 'spurs-regular', sans-serif;
}

/* line 86, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 91, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
}

/* line 99, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/* line 103, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
hr {
  height: 3px;
  background-color: #f98348;
  margin: 0 auto;
  width: 2em;
  border: 0;
}

/* line 111, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
#main-container {
  width: 100%;
  overflow: auto;
  clear: both;
}

/* START STYLING HEADER
-----------------------------------------------------------------------------*/
/* line 121, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 30px;
  height: 15px;
}

/* line 131, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
.menu-icon::after {
  height: 4px;
  background: #001c58;
  box-shadow: 0 7px 0 #001c58, 0 14px 0 #001c58;
}

/* line 137, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
.menu-icon:hover::after {
  background: #001c58;
  box-shadow: 0 7px 0 #001c58, 0 14px 0 #001c58;
}

/* line 143, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
header.main-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  padding: 2rem 2rem 2rem 2rem;
  clear: both;
  overflow: auto;
}

/* line 153, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
header.main-header img {
  float: left;
  width: 100%;
  max-width: 5em;
}

/* line 160, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
.top-bar-left {
  width: 100%;
  max-width: 5em;
}

/* line 165, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
.title-bar {
  display: none;
}

/* line 169, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
.top-bar, .top-bar ul {
  background-color: transparent;
}

/* line 173, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
.top-bar {
  padding: 0;
}

/* line 177, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
ul.active-nav {
  background-color: transparent;
}

/* line 181, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
#lines {
  display: none;
}

/* line 185, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
.active-link {
  color: #001c58 !important;
}

/* line 189, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
nav.main-nav {
  float: right;
  position: relative;
  top: 1.3em;
}

/* line 194, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
nav.main-nav ul {
  clear: both;
  height: 2em;
  padding: 0;
  margin: 0;
}

/* line 201, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
nav.main-nav ul li {
  list-style: none;
  float: left;
  margin-right: 2em;
  display: inline;
}

/* line 207, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
nav.main-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  font-weight: 600;
  padding: 0.11em;
  line-height: 1.2;
  display: block;
  /*&:visited{
					border-bottom: solid $red-color .3em;
				}*/
}

/* line 220, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
  color: #001c58;
}

/* line 228, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
li.contact-nav {
  margin-right: 0em !important;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/* START STYLING HOME SECTION STYLES
-------------------------------------------*/
/* line 238, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.home-bg {
  height: 150em;
  max-height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(../imgs/1.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0em;
  left: 0;
  overflow: hidden;
}

/* line 254, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
section#home {
  box-sizing: border-box;
  margin-top: 25em;
  clear: both;
  height: 71em;
}

/* line 262, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.home-contents {
  height: 25em;
  width: 100%;
  margin: 0 auto;
}

/* line 267, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.home-contents h1 {
  width: 100%;
  color: #ffffff;
  font-size: 11em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 0.8em;
  opacity: 0.7;
}

/* line 278, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.home-contents h2 {
  width: 100%;
  color: #ffffff;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
}

/* line 289, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.dwn-btn {
  max-width: 6em;
  height: 6em;
  max-height: 100%;
  width: 100%;
  display: block;
  margin-top: 37em;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../imgs/dwn-btn-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 302, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.dwn-btn:hover, div.dwn-btn:focus {
  background-image: url(../imgs/dwn-btn.png);
  cursor: hand;
}

/* START STYLING HOME PORTFOLIO SECTION
-------------------------------------------*/
/* line 311, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
section.home-portfolio-container {
  width: 100%;
  height: 120em;
  background-color: #ffffff;
}

/* line 317, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div#home-portfolio {
  width: 120em;
  max-width: 100%;
  height: 101em;
  margin: 0 auto;
  clear: both;
  padding-top: 5%;
  box-sizing: border-box;
  margin-bottom: 3%;
}

/* line 331, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div#home-portfolio > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #414042;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

/* line 344, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-holder, div.right-holder {
  height: 70em;
  max-width: 100%;
  width: 60em;
  float: left;
}

/* line 351, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-top {
  height: 43.5em;
  width: 100%;
  overflow: hidden;
}

/* line 356, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-top a {
  text-decoration: none;
}

/* line 359, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-top a > p {
  font-size: medium;
  width: 6em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  top: 25em;
  background-color: #001c58;
}

/* line 372, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-top a img {
  width: 103%;
  position: relative;
  bottom: 5em;
}

/* line 381, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.right-top {
  height: 29em;
  width: 100%;
  overflow: hidden;
}

/* line 386, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.right-top a {
  text-decoration: none;
}

/* line 389, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.right-top a img {
  width: 102%;
  position: relative;
  bottom: 17.5em;
}

/* line 395, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.right-top a > p {
  font-size: medium;
  width: 8.1em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  top: 16em;
  background-color: #001c58;
}

/* line 411, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-bottom-one {
  float: left;
  width: 50%;
  height: 25.5em;
  overflow: hidden;
}

/* line 417, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-bottom-one a {
  text-decoration: none;
}

/* line 420, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-bottom-one a img {
  width: 118%;
  position: relative;
  right: 2em;
  bottom: 4.5em;
}

/* line 427, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-bottom-one a > p {
  font-size: medium;
  width: 10em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  top: 13.8em;
  background-color: #001c58;
}

/* line 442, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-bottom-two {
  float: left;
  width: 50%;
  height: 25.5em;
  overflow: hidden;
}

/* line 448, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-bottom-two a {
  text-decoration: none;
}

/* line 451, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-bottom-two a img {
  width: 107%;
  position: relative;
  right: 2em;
  bottom: 5.5em;
}

/* line 458, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.left-bottom-two a > p {
  font-size: medium;
  max-width: 100%;
  width: 8em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  top: 13.8em;
  background-color: #001c58;
}

/* line 474, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.right-bottom {
  height: 40em;
  width: 100%;
  float: left;
  overflow: hidden;
}

/* line 480, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.right-bottom a {
  text-decoration: none;
}

/* line 483, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.right-bottom a img {
  width: 130%;
  position: relative;
  right: 10.5em;
  bottom: 12em;
}

/* line 490, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.right-bottom a > p {
  font-size: medium;
  width: 9em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  top: 22.9em;
  background-color: #001c58;
}

/* line 505, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.port {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  clear: both;
  max-width: 31em;
}

/* line 512, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.port a {
  text-decoration: none;
  padding: 1em;
  font-size: 2em;
  font-weight: 600;
  color: #001c58;
  background-color: #ffffff;
  border: solid #001c58 0.125em;
  box-sizing: border-box;
  display: block;
}

/* line 523, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
div.port a:hover, div.port a:focus {
  color: #ffffff;
  background-color: #001c58;
}

/* END STYLING SECTION PORTFOLIO AND HOME-PORTFOLIO-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START FOOTER STYLE
-----------------------------------------------------------------------------*/
/* line 540, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
footer.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  box-sizing: border-box;
  background-color: #001c58;
  clear: both;
}

/* line 547, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
footer.main-footer p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: #ffffff;
}

/* START MEDIA QUARIES
-----------------------------------------------------------------------------*/
/* CELL PHONE */
@media screen and (max-width: 39.9375em) {
  /* line 561, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  header.main-header {
    background-color: #414042;
    padding: 2rem 0rem 2rem 0rem;
  }
  /* line 566, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  .title-bar {
    background: transparent;
    float: right;
    position: relative;
    top: 1.5em;
    margin-right: 2rem;
  }
  /* line 574, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  .top-bar-left {
    margin-left: 2rem;
  }
  /* line 578, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  nav.main-nav {
    padding-right: 0;
    height: 18.5em;
    border-top: solid 1px #001c58;
    position: relative;
    top: 2em;
  }
  /* line 585, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  nav.main-nav ul {
    margin: 0 auto;
    width: 100%;
    display: block;
    height: 18.5em;
  }
  /* line 591, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  nav.main-nav ul li {
    width: 100%;
    padding: 0;
  }
  /* line 595, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  nav.main-nav ul li a {
    text-align: center;
    font-weight: 700;
    padding: 1em;
  }
  /* line 600, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
    color: #001c58;
    border-bottom: none;
    cursor: hand;
  }
  /* line 611, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  .active-link {
    color: #001c58 !important;
    border-bottom: none;
  }
  /* line 616, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  .home-nav, .projects-nav {
    border-bottom: #001c58 solid 1px;
  }
  /* line 620, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  .contact-nav a {
    padding-bottom: 0 !important;
  }
  /*End header style*/
  /* line 626, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  div.home-bg {
    height: 63em;
  }
  /* line 630, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  section#home {
    margin-top: 25em;
    width: 100%;
    height: 63em;
    clear: both;
  }
  /* line 637, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  div.home-contents {
    height: 21em;
  }
  /* line 640, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  div.home-contents h1 {
    line-height: 0.8em;
    font-size: 10em;
  }
  /* line 645, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  div.home-contents h2 {
    line-height: 1.1em;
    font-size: 3em;
  }
  /* line 651, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  div.dwn-btn {
    display: none;
  }
}

/* MEDIUM SCREEN */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 660, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  section#home {
    height: 53.3em;
  }
  /* line 664, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  div.dwn-btn {
    max-width: 6em;
    height: 6em;
    max-height: 100%;
    width: 100%;
    display: block;
    margin-top: 20em;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imgs/dwn-btn-white.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  /* line 677, /Users/chuckobazemac/Documents/tottenham-history/sass/tottenham.scss */
  div.dwn-btn:hover, div.dwn-btn:focus {
    background-image: url(../imgs/dwn-btn.png);
    cursor: hand;
  }
}

/*# sourceMappingURL=../css/tottenham.map */