$font-color: #808080;
$font-color-2: #e6e7eb;
$font-color-3:#e6e7e8;
$alt-font-color: #414042;
$red-color: #f0555a;
$green-color: #82cec4;
$alt-gray-color: #acacac;
$deeper-gray: #535252;
$resume-gray: #efefef;
$orange-color: #f98348;
$white-color: #ffffff;
$spur-blue: #001c58;
// A LOT MORE COLORS GO HERE.