/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://obazedesigns.com
-----------------------------------------------------------------------------*/


/* =imports
-----------------------------------------------------------------------------*/
@import 'fontfamily';

@import 'colors';


/* =SASS Variables
-----------------------------------------------------------------------------*/

$border: solid 1px;
$body-font-size: 10px;
$section-height: 96em;
$white-font: $white-color;

%row{
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
}

%columns{
	padding: 0 2rem 0 2rem;
}

%h2-values{
	text-align: center;
	margin-bottom:2%;
	color: $spur-blue;
	font-size: 3.5em;
	font-weight: 300;
}

%parrallex-bg{
	height: 150em;
	width: 100%;
	position: fixed;
	background-position: 0em -40em;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -3;
	top:0em;
	left:0;
	overflow: hidden;
}

%port-container{
	padding-top: 5%;
    background: $white-color;
    clear: both;
    margin: 0 auto;
    width: 100%;
}

@mixin box-shadow ($radius){
	box-shadow: $radius;
	-webkit-box-shadow: $radius;
	-moz-box-shadow: $radius;
	-ms-box-shadow: $radius;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/

a:link, a:visited, a:hover, a:focus, a:active

/* =Start General Website Style
-----------------------------------------------------------------------------*/


html{
	font-size: $body-font-size;
	font-family: 'spurs-regular', sans-serif;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 62.5%;
	font-family: $roboto;
	width: 100%;
	margin: 0 auto;

}

h1, h2, h3, h4, h5, h6{
	font-family: $roboto;
}

hr{
	height: 3px;
	background-color: #f98348;
	margin: 0 auto;
	width: 2em;;
	border: 0;
}

#main-container{
	width: 100%;
	overflow: auto;
	clear: both;
}


/* START STYLING HEADER
-----------------------------------------------------------------------------*/

.menu-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    height: 15px;

}

.menu-icon::after{
	height: 4px;
	background: $spur-blue;
	box-shadow: 0 7px 0 $spur-blue, 0 14px 0 $spur-blue;
}

.menu-icon:hover::after{
	background: $spur-blue;
	box-shadow: 0 7px 0 $spur-blue, 0 14px 0 $spur-blue;

}

header.main-header{
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: transparent;
	padding: 2rem 2rem 2rem 2rem;
	clear: both;
	overflow: auto;


	img{
		float: left;
		width: 100%;
		max-width: 5em;
	}
}

.top-bar-left{
	width: 100%;
	max-width: 5em;
}

.title-bar{
	display: none;
}

.top-bar, .top-bar ul{
	background-color: transparent;
}

.top-bar{
	padding: 0;
}

ul.active-nav{
	background-color: transparent;
}

#lines{
	display: none;
}

.active-link{
	color: $spur-blue !important;
}

nav.main-nav{
	float: right;
	position: relative;
	top: 1.3em;

	ul{
		clear: both;
		height: 2em;
		padding: 0;
		margin: 0;


		li{
			list-style: none;
			float: left;
			margin-right: 2em;
			display: inline;

			a{
				text-decoration: none;
				color:$white-color;
				font-size: 2em;
				font-weight: 600;
				padding: 0.11em;
				line-height: 1.2;
				display: block;

				/*&:visited{
					border-bottom: solid $red-color .3em;
				}*/

				&:hover, &:focus, /*&:active*/{
					color: $spur-blue;
				}
			}
		}
	}
}

li.contact-nav{
	margin-right: 0em !important;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/

/* START STYLING HOME SECTION STYLES
-------------------------------------------*/

div.home-bg{
	height: 150em;
	max-height: 100%;
	width: 100%;
	position: fixed;
	background-image: url(../imgs/1.jpg);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	top:0em;
	left:0;
	overflow: hidden;

}

section#home{
	box-sizing: border-box;
	margin-top: 25em;
	clear: both;
	@extend %row;
	height: 71em;
}

div.home-contents{
	height: 25em;
	width: 100%;
	margin: 0 auto;

	h1{
		width: 100%;
		color: $white-color;
		font-size: 11em;
		text-align: center;
		margin: 0 auto;
		font-weight: bolder;
		line-height: 0.8em;
		opacity: 0.7;
	}

	h2{
		width: 100%;
		color: $white-color;
		font-size: 4em;
		text-align: center;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.5em;
	}
}

div.dwn-btn{
		max-width: 6em;
		height: 6em;
		max-height: 100%;
		width: 100%;
		display: block;
		margin-top: 37em;
	    margin-left: auto;
	    margin-right: auto;
		background-image: url(../imgs/dwn-btn-white.png);
		background-size: 100%;
		background-repeat: no-repeat;

		&:hover, &:focus{
			background-image: url(../imgs/dwn-btn.png);
			cursor: hand;
		}
}

/* START STYLING HOME PORTFOLIO SECTION
-------------------------------------------*/

section.home-portfolio-container{
	width:100%;
	height: 120em;
	background-color: $white-color;
}

div#home-portfolio{
	width: 120em;
	max-width: 100%;
	height: 101em;
	margin: 0 auto;
	clear: both;
	padding-top: 5%;
	box-sizing: border-box;
	margin-bottom: 3%;

	h2{
		@extend %h2-values;
	}

	&>p{
		font-size: 2em;
		font-weight: 200;
		line-height: 1.5em;
		color: $alt-font-color;
		width: 30em;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 2em;
	}
}

div.left-holder, div.right-holder{
	height: 70em;
	max-width: 100%;
	width: 60em;
	float: left;
}

div.left-top{
	height: 43.5em;
	width: 100%;
	overflow: hidden;

	a{
		text-decoration: none;

		&>p{
			font-size: medium;
			width: 6em;
			position: relative;
			padding: 0.5em;
			color: $white-color;
			font-weight: bold;
			text-decoration: none;
			z-index: 1;
			top: 25em;
			background-color: $spur-blue;
		}

		img{
			width: 103%;
			position: relative;
			bottom: 5em;
		}
	}

}

div.right-top{
	height: 29em;
	width: 100%;
	overflow: hidden;

	a{
		text-decoration: none;

	img{
		width: 102%;
		position: relative;
		bottom: 17.5em;
	}

	&>p{
			font-size: medium;
			width: 8.1em;
			position: relative;
			padding: 0.5em;
			color: $white-color;
			font-weight: bold;
			text-decoration: none;
			z-index: 1;
			top: 16em;
			background-color: $spur-blue;
		}

	}
}

div.left-bottom-one{
	float: left;
	width: 50%;
	height: 25.5em;
	overflow: hidden;

	a{
		text-decoration: none;

	img{
		width: 118%;
		position: relative;
		right: 2em;
		bottom: 4.5em;
	}

	&>p{
			font-size: medium;
			width: 10em;
			position: relative;
			padding: 0.5em;
			color: $white-color;
			font-weight: bold;
			text-decoration: none;
			z-index: 1;
			top: 13.8em;
			background-color: $spur-blue;
		}
	}
}

div.left-bottom-two{
	float: left;
	width: 50%;
	height: 25.5em;
	overflow: hidden;

	a{
		text-decoration: none;

		img{
		width: 107%;
		position: relative;
		right: 2em;
		bottom: 5.5em;
		}

		&>p{
			font-size: medium;
			max-width: 100%;
			width: 8em;
			position: relative;
			padding: 0.5em;
			color: $white-color;
			font-weight: bold;
			text-decoration: none;
			z-index: 1;
			top: 13.8em;
			background-color: $spur-blue;
		}
	}
}

div.right-bottom{
	height: 40em;
	width: 100%;
	float: left;
	overflow: hidden;

	a{
		text-decoration: none;

	img{
		width: 130%;
		position: relative;
		right: 10.5em;
		bottom: 12em;
	}

	&>p{
			font-size: medium;
			width: 9em;
			position: relative;
			padding: 0.5em;
			color: $white-color;
			font-weight: bold;
			text-decoration: none;
			z-index: 1;
			top: 22.9em;
			background-color: $spur-blue;
		}
	}
}

div.port{
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	clear: both;
	max-width: 31em;

	a{
		text-decoration: none;
		padding: 1em;
		font-size: 2em;
		font-weight: 600;
		color: $spur-blue;
		background-color: $white-color;
		border: solid $spur-blue 0.125em;
		box-sizing: border-box;
		display: block;

		&:hover, &:focus{
			color: $white-color;
			background-color: $spur-blue;
		}

	}
}


/* END STYLING SECTION PORTFOLIO AND HOME-PORTFOLIO-CONTAINER STYLES
-----------------------------------------------------------------------------*/



/* START FOOTER STYLE
-----------------------------------------------------------------------------*/

footer.main-footer{
	padding-top:2em;
	padding-bottom: 2em;
	box-sizing: border-box;
	background-color: $spur-blue;
	clear: both;

	p{
		text-align: center;
		font-size: 1.5em;
		font-weight: 200;
		color: $white-color;
	}
}

/* START MEDIA QUARIES
-----------------------------------------------------------------------------*/

/* CELL PHONE */
@media screen and (max-width: 39.9375em) {

	header.main-header{
		background-color: $alt-font-color;
		padding: 2rem 0rem 2rem 0rem;
	}

	.title-bar{
		background: transparent;
		float: right;
		position: relative;
		top: 1.5em;
		margin-right: 2rem;
	}

	.top-bar-left{
		margin-left: 2rem;
	}

	nav.main-nav{
		padding-right: 0;
		height: 18.5em;
		border-top: $border $spur-blue;
		position: relative;
		top: 2em;

		ul{
			margin: 0 auto;
			width: 100%;
		    display: block;
		    height: 18.5em;

		    li{
			    width: 100%;
			    padding: 0;

				a{
					text-align: center;
					font-weight: 700;
					padding: 1em;

					&:hover, &:focus, /*&:active*/{
					color: $spur-blue;
					border-bottom: none;
					cursor: hand;
					}
				}
			}
		}

	}

	.active-link{
		color: $spur-blue !important;
		border-bottom: none;
	}

	.home-nav, .projects-nav{
		border-bottom: $spur-blue $border;
	}

	.contact-nav a{
		padding-bottom: 0 !important;
	}

    /*End header style*/

	div.home-bg {
	    height: 63em;
    }

	section#home{
		margin-top: 25em;
		width: 100%;
		height: 63em;
		clear: both;
	}

	div.home-contents{
		height: 21em;

		h1{
			line-height: 0.8em;
			font-size: 10em;
		}

		h2{
			line-height: 1.1em;
			font-size: 3em;
		}
	}

	div.dwn-btn{
		display: none;
	}
}

/* MEDIUM SCREEN */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {

	section#home{
		height: 53.3em;
	}

	div.dwn-btn{
		max-width: 6em;
		height: 6em;
		max-height: 100%;
		width: 100%;
		display: block;
		margin-top: 20em;
	    margin-left: auto;
	    margin-right: auto;
		background-image: url(../imgs/dwn-btn-white.png);
		background-size: 100%;
		background-repeat: no-repeat;

		&:hover, &:focus{
			background-image: url(../imgs/dwn-btn.png);
			cursor: hand;
		}
	}
}















